In [2]:
import pandas as pd
from dateutil.relativedelta import relativedelta
from datetime import datetime

In [3]:
df = pd.read_excel(r'D:\UP Vahan\Files Renamed\UP Chapter 4 - Results\4.2.2 Noida 364 buses.xlsx',parse_dates=['Reg. Date','From','to '])

In [4]:
df.dtypes

Sl. No.                                                      int64
Reg. No.                                                    object
Reg. Date                                           datetime64[ns]
Owner Name                                                  object
Types of Vehicle                                            object
Seating Capacity                                             int64
Seating Capacity for Calculation of Add. Tax                 int64
From                                                datetime64[ns]
to                                                  datetime64[ns]
No. Month                                                  float64
Due Add. Tax                                                 int64
Levied Add. Tax                                              int64
Penalty for Delay Payment Add. Tax Upto 31.03.21           float64
Total amount of Add. Tax & Penalty                           int64
Reciept Date                                        datetime64[ns]
dtype: object

In [5]:
df.head()

,Sl. No.,Reg. No.,Reg. Date,Owner Name,Types of Vehicle,Seating Capacity,Seating Capacity for Calculation of Add. Tax,From,to,No. Month,Due Add. Tax,Levied Add. Tax,Penalty for Delay Payment Add. Tax Upto 31.03.21,Total amount of Add. Tax & Penalty,Reciept Date
0,1,UP16M9972,2006-12-22,UPSRTC,Bus,53,51,2009-10-01,2021-03-31,139.966667,1644750,0,1644750.0,3289500,2021-03-31
1,2,UP16M9985,2006-12-28,UPSRTC,Bus,54,52,2009-10-01,2021-03-31,139.966667,1677000,0,1677000.0,3354000,2021-03-31
2,3,UP16N9919,2007-01-03,RM UPSRTC NOIDA,Bus,37,35,2009-10-01,2021-03-31,139.966667,1128750,0,1128750.0,2257500,2021-03-31
3,4,UP16N9932,2007-01-08,GM UPSRTC LUCKNOW,Bus,44,42,2009-10-01,2021-03-31,139.966667,1354500,0,1354500.0,2709000,2021-03-31
4,5,UP16N9966,2007-01-16,UPSRTC,Bus,56,54,2009-10-01,2021-03-31,139.966667,1741500,0,1741500.0,3483000,2021-03-31

In [6]:
df['From-Regn']=round((df['From']-df['Reg. Date']).dt.days / 365, 1)
df['No of days'] = (df['to ']- df['From']).dt.days

In [7]:
delay = []
duration = []
df=df
for i in df.index:
    du = round(df.loc[i]['No of days']*12/365)
    duration.append(du)
    delta = relativedelta(df.loc[i]['Reciept Date'], df.loc[i]['From'])
    if df['From'].dt.day[i]>15:
        if df['Reciept Date'].dt.day[i]>15:
            de = delta.months + (delta.years*12)+ round(delta.days/30)
            delay.append(de)
        else:
            de = math.ceil(df.loc[i]['K-I']/30)
            delay.append(de)
    else:
        if df['Reciept Date'].dt.day[i]>15:
            de = delta.months + (delta.years * 12) + 1
            delay.append(de)
        else:
            de = delta.months + (delta.years * 12)+round(delta.days/30)
            delay.append(de)
df['Duration'] = duration
df['Delay'] = delay

In [17]:
def penalty_calc(res,n):
    if n>=20: pen=res*1
    else: pen = res*((n*5)/100) 
    #print(res,n,pen)
    return pen

In [18]:
result=[]
penalty = []
for i in df.head(1).index:
    regn = df.at[i,'Reg. No.']
    n = df.at[i,'Duration']
    fr = df.at[i,'From']
    To = df.at[i,'to ']
    reg = df.at[i,'Reg. Date']
    seat = df.at[i,'Seating Capacity for Calculation of Add. Tax']
    to =  fr+relativedelta(months = 1)
    res=0
    pen=0
    amt=0
    print(regn)
    while(fr<=To):
        age = round((to-reg).days / 365, 1)
        if age<=2:
            x=600
            amt =600*seat
        elif age>2 and age<=4:
            x=500
            amt=500*seat
        elif age>4 and age<=6:
            x=400
            amt=400*seat
        elif age>6:
            x=150
            amt=150*seat
        res=res+amt
        pen = pen+penalty_calc(amt,n)
        print('Age ',age,' | From ',fr,' | Rate ',x,' | Amt',amt,' | Total',res,' | Month',n,' | Penalty',pen)
        n=n-1
        fr = to
        to = fr+relativedelta(months = 1)
    result.append(res)
    penalty.append(pen)

UP16M9972
Age  2.9  | From  2009-10-01 00:00:00  | Rate  500  | Amt 25500  | Total 25500  | Month 138  | Penalty 25500
Age  2.9  | From  2009-11-01 00:00:00  | Rate  500  | Amt 25500  | Total 51000  | Month 137  | Penalty 51000
Age  3.0  | From  2009-12-01 00:00:00  | Rate  500  | Amt 25500  | Total 76500  | Month 136  | Penalty 76500
Age  3.1  | From  2010-01-01 00:00:00  | Rate  500  | Amt 25500  | Total 102000  | Month 135  | Penalty 102000
Age  3.2  | From  2010-02-01 00:00:00  | Rate  500  | Amt 25500  | Total 127500  | Month 134  | Penalty 127500
Age  3.3  | From  2010-03-01 00:00:00  | Rate  500  | Amt 25500  | Total 153000  | Month 133  | Penalty 153000
Age  3.4  | From  2010-04-01 00:00:00  | Rate  500  | Amt 25500  | Total 178500  | Month 132  | Penalty 178500
Age  3.4  | From  2010-05-01 00:00:00  | Rate  500  | Amt 25500  | Total 204000  | Month 131  | Penalty 204000
Age  3.5  | From  2010-06-01 00:00:00  | Rate  500  | Amt 25500  | Total 229500  | Month 130  | Penalty 229500
Age  3.6  | From  2010-07-01 00:00:00  | Rate  500  | Amt 25500  | Total 255000  | Month 129  | Penalty 255000
Age  3.7  | From  2010-08-01 00:00:00  | Rate  500  | Amt 25500  | Total 280500  | Month 128  | Penalty 280500
Age  3.8  | From  2010-09-01 00:00:00  | Rate  500  | Amt 25500  | Total 306000  | Month 127  | Penalty 306000
Age  3.9  | From  2010-10-01 00:00:00  | Rate  500  | Amt 25500  | Total 331500  | Month 126  | Penalty 331500
Age  3.9  | From  2010-11-01 00:00:00  | Rate  500  | Amt 25500  | Total 357000  | Month 125  | Penalty 357000
Age  4.0  | From  2010-12-01 00:00:00  | Rate  500  | Amt 25500  | Total 382500  | Month 124  | Penalty 382500
Age  4.1  | From  2011-01-01 00:00:00  | Rate  400  | Amt 20400  | Total 402900  | Month 123  | Penalty 402900
Age  4.2  | From  2011-02-01 00:00:00  | Rate  400  | Amt 20400  | Total 423300  | Month 122  | Penalty 423300
Age  4.3  | From  2011-03-01 00:00:00  | Rate  400  | Amt 20400  | Total 443700  | Month 121  | Penalty 443700
Age  4.4  | From  2011-04-01 00:00:00  | Rate  400  | Amt 20400  | Total 464100  | Month 120  | Penalty 464100
Age  4.4  | From  2011-05-01 00:00:00  | Rate  400  | Amt 20400  | Total 484500  | Month 119  | Penalty 484500
Age  4.5  | From  2011-06-01 00:00:00  | Rate  400  | Amt 20400  | Total 504900  | Month 118  | Penalty 504900
Age  4.6  | From  2011-07-01 00:00:00  | Rate  400  | Amt 20400  | Total 525300  | Month 117  | Penalty 525300
Age  4.7  | From  2011-08-01 00:00:00  | Rate  400  | Amt 20400  | Total 545700  | Month 116  | Penalty 545700
Age  4.8  | From  2011-09-01 00:00:00  | Rate  400  | Amt 20400  | Total 566100  | Month 115  | Penalty 566100
Age  4.9  | From  2011-10-01 00:00:00  | Rate  400  | Amt 20400  | Total 586500  | Month 114  | Penalty 586500
Age  4.9  | From  2011-11-01 00:00:00  | Rate  400  | Amt 20400  | Total 606900  | Month 113  | Penalty 606900
Age  5.0  | From  2011-12-01 00:00:00  | Rate  400  | Amt 20400  | Total 627300  | Month 112  | Penalty 627300
Age  5.1  | From  2012-01-01 00:00:00  | Rate  400  | Amt 20400  | Total 647700  | Month 111  | Penalty 647700
Age  5.2  | From  2012-02-01 00:00:00  | Rate  400  | Amt 20400  | Total 668100  | Month 110  | Penalty 668100
Age  5.3  | From  2012-03-01 00:00:00  | Rate  400  | Amt 20400  | Total 688500  | Month 109  | Penalty 688500
Age  5.4  | From  2012-04-01 00:00:00  | Rate  400  | Amt 20400  | Total 708900  | Month 108  | Penalty 708900
Age  5.4  | From  2012-05-01 00:00:00  | Rate  400  | Amt 20400  | Total 729300  | Month 107  | Penalty 729300
Age  5.5  | From  2012-06-01 00:00:00  | Rate  400  | Amt 20400  | Total 749700  | Month 106  | Penalty 749700
Age  5.6  | From  2012-07-01 00:00:00  | Rate  400  | Amt 20400  | Total 770100  | Month 105  | Penalty 770100
Age  5.7  | From  2012-08-01 00:00:00  | Rate  400  | Amt 20400  | Total 790500  | Month 104  | Penalty 790500
Age  5.8  | From  2012-09-01 00:00:00  | Rate  400  | Amt 20400  | Total 810900  | Month 103  | Penalty 810900
Age  5.9  | From  2012-10-01 00:00:00  | Rate  400  | Amt 20400  | Total 831300  | Month 102  | Penalty 831300
Age  5.9  | From  2012-11-01 00:00:00  | Rate  400  | Amt 20400  | Total 851700  | Month 101  | Penalty 851700
Age  6.0  | From  2012-12-01 00:00:00  | Rate  400  | Amt 20400  | Total 872100  | Month 100  | Penalty 872100
Age  6.1  | From  2013-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 879750  | Month 99  | Penalty 879750
Age  6.2  | From  2013-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 887400  | Month 98  | Penalty 887400
Age  6.3  | From  2013-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 895050  | Month 97  | Penalty 895050
Age  6.4  | From  2013-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 902700  | Month 96  | Penalty 902700
Age  6.4  | From  2013-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 910350  | Month 95  | Penalty 910350
Age  6.5  | From  2013-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 918000  | Month 94  | Penalty 918000
Age  6.6  | From  2013-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 925650  | Month 93  | Penalty 925650
Age  6.7  | From  2013-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 933300  | Month 92  | Penalty 933300
Age  6.8  | From  2013-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 940950  | Month 91  | Penalty 940950
Age  6.9  | From  2013-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 948600  | Month 90  | Penalty 948600
Age  6.9  | From  2013-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 956250  | Month 89  | Penalty 956250
Age  7.0  | From  2013-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 963900  | Month 88  | Penalty 963900
Age  7.1  | From  2014-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 971550  | Month 87  | Penalty 971550
Age  7.2  | From  2014-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 979200  | Month 86  | Penalty 979200
Age  7.3  | From  2014-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 986850  | Month 85  | Penalty 986850
Age  7.4  | From  2014-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 994500  | Month 84  | Penalty 994500
Age  7.4  | From  2014-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1002150  | Month 83  | Penalty 1002150
Age  7.5  | From  2014-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1009800  | Month 82  | Penalty 1009800
Age  7.6  | From  2014-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1017450  | Month 81  | Penalty 1017450
Age  7.7  | From  2014-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1025100  | Month 80  | Penalty 1025100
Age  7.8  | From  2014-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1032750  | Month 79  | Penalty 1032750
Age  7.9  | From  2014-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1040400  | Month 78  | Penalty 1040400
Age  7.9  | From  2014-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1048050  | Month 77  | Penalty 1048050
Age  8.0  | From  2014-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1055700  | Month 76  | Penalty 1055700
Age  8.1  | From  2015-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1063350  | Month 75  | Penalty 1063350
Age  8.2  | From  2015-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1071000  | Month 74  | Penalty 1071000
Age  8.3  | From  2015-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1078650  | Month 73  | Penalty 1078650
Age  8.4  | From  2015-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 1086300  | Month 72  | Penalty 1086300
Age  8.4  | From  2015-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1093950  | Month 71  | Penalty 1093950
Age  8.5  | From  2015-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1101600  | Month 70  | Penalty 1101600
Age  8.6  | From  2015-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1109250  | Month 69  | Penalty 1109250
Age  8.7  | From  2015-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1116900  | Month 68  | Penalty 1116900
Age  8.8  | From  2015-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1124550  | Month 67  | Penalty 1124550
Age  8.9  | From  2015-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1132200  | Month 66  | Penalty 1132200
Age  8.9  | From  2015-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1139850  | Month 65  | Penalty 1139850
Age  9.0  | From  2015-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1147500  | Month 64  | Penalty 1147500
Age  9.1  | From  2016-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1155150  | Month 63  | Penalty 1155150
Age  9.2  | From  2016-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1162800  | Month 62  | Penalty 1162800
Age  9.3  | From  2016-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1170450  | Month 61  | Penalty 1170450
Age  9.4  | From  2016-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 1178100  | Month 60  | Penalty 1178100
Age  9.4  | From  2016-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1185750  | Month 59  | Penalty 1185750
Age  9.5  | From  2016-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1193400  | Month 58  | Penalty 1193400
Age  9.6  | From  2016-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1201050  | Month 57  | Penalty 1201050
Age  9.7  | From  2016-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1208700  | Month 56  | Penalty 1208700
Age  9.8  | From  2016-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1216350  | Month 55  | Penalty 1216350
Age  9.9  | From  2016-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1224000  | Month 54  | Penalty 1224000
Age  10.0  | From  2016-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1231650  | Month 53  | Penalty 1231650
Age  10.0  | From  2016-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1239300  | Month 52  | Penalty 1239300
Age  10.1  | From  2017-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1246950  | Month 51  | Penalty 1246950
Age  10.2  | From  2017-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1254600  | Month 50  | Penalty 1254600
Age  10.3  | From  2017-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1262250  | Month 49  | Penalty 1262250
Age  10.4  | From  2017-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 1269900  | Month 48  | Penalty 1269900
Age  10.4  | From  2017-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1277550  | Month 47  | Penalty 1277550
Age  10.5  | From  2017-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1285200  | Month 46  | Penalty 1285200
Age  10.6  | From  2017-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1292850  | Month 45  | Penalty 1292850
Age  10.7  | From  2017-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1300500  | Month 44  | Penalty 1300500
Age  10.8  | From  2017-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1308150  | Month 43  | Penalty 1308150
Age  10.9  | From  2017-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1315800  | Month 42  | Penalty 1315800
Age  11.0  | From  2017-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1323450  | Month 41  | Penalty 1323450
Age  11.0  | From  2017-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1331100  | Month 40  | Penalty 1331100
Age  11.1  | From  2018-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1338750  | Month 39  | Penalty 1338750
Age  11.2  | From  2018-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1346400  | Month 38  | Penalty 1346400
Age  11.3  | From  2018-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1354050  | Month 37  | Penalty 1354050
Age  11.4  | From  2018-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 1361700  | Month 36  | Penalty 1361700
Age  11.4  | From  2018-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1369350  | Month 35  | Penalty 1369350
Age  11.5  | From  2018-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1377000  | Month 34  | Penalty 1377000
Age  11.6  | From  2018-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1384650  | Month 33  | Penalty 1384650
Age  11.7  | From  2018-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1392300  | Month 32  | Penalty 1392300
Age  11.8  | From  2018-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1399950  | Month 31  | Penalty 1399950
Age  11.9  | From  2018-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1407600  | Month 30  | Penalty 1407600
Age  12.0  | From  2018-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1415250  | Month 29  | Penalty 1415250
Age  12.0  | From  2018-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1422900  | Month 28  | Penalty 1422900
Age  12.1  | From  2019-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1430550  | Month 27  | Penalty 1430550
Age  12.2  | From  2019-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1438200  | Month 26  | Penalty 1438200
Age  12.3  | From  2019-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1445850  | Month 25  | Penalty 1445850
Age  12.4  | From  2019-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 1453500  | Month 24  | Penalty 1453500
Age  12.4  | From  2019-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1461150  | Month 23  | Penalty 1461150
Age  12.5  | From  2019-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1468800  | Month 22  | Penalty 1468800
Age  12.6  | From  2019-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1476450  | Month 21  | Penalty 1476450
Age  12.7  | From  2019-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1484100  | Month 20  | Penalty 1484100
Age  12.8  | From  2019-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1491750  | Month 19  | Penalty 1491367.5
Age  12.9  | From  2019-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1499400  | Month 18  | Penalty 1498252.5
Age  13.0  | From  2019-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1507050  | Month 17  | Penalty 1504755.0
Age  13.0  | From  2019-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1514700  | Month 16  | Penalty 1510875.0
Age  13.1  | From  2020-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1522350  | Month 15  | Penalty 1516612.5
Age  13.2  | From  2020-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1530000  | Month 14  | Penalty 1521967.5
Age  13.3  | From  2020-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1537650  | Month 13  | Penalty 1526940.0
Age  13.4  | From  2020-04-01 00:00:00  | Rate  150  | Amt 7650  | Total 1545300  | Month 12  | Penalty 1531530.0
Age  13.5  | From  2020-05-01 00:00:00  | Rate  150  | Amt 7650  | Total 1552950  | Month 11  | Penalty 1535737.5
Age  13.5  | From  2020-06-01 00:00:00  | Rate  150  | Amt 7650  | Total 1560600  | Month 10  | Penalty 1539562.5
Age  13.6  | From  2020-07-01 00:00:00  | Rate  150  | Amt 7650  | Total 1568250  | Month 9  | Penalty 1543005.0
Age  13.7  | From  2020-08-01 00:00:00  | Rate  150  | Amt 7650  | Total 1575900  | Month 8  | Penalty 1546065.0
Age  13.8  | From  2020-09-01 00:00:00  | Rate  150  | Amt 7650  | Total 1583550  | Month 7  | Penalty 1548742.5
Age  13.9  | From  2020-10-01 00:00:00  | Rate  150  | Amt 7650  | Total 1591200  | Month 6  | Penalty 1551037.5
Age  14.0  | From  2020-11-01 00:00:00  | Rate  150  | Amt 7650  | Total 1598850  | Month 5  | Penalty 1552950.0
Age  14.0  | From  2020-12-01 00:00:00  | Rate  150  | Amt 7650  | Total 1606500  | Month 4  | Penalty 1554480.0
Age  14.1  | From  2021-01-01 00:00:00  | Rate  150  | Amt 7650  | Total 1614150  | Month 3  | Penalty 1555627.5
Age  14.2  | From  2021-02-01 00:00:00  | Rate  150  | Amt 7650  | Total 1621800  | Month 2  | Penalty 1556392.5
Age  14.3  | From  2021-03-01 00:00:00  | Rate  150  | Amt 7650  | Total 1629450  | Month 1  | Penalty 1556775.0

In [10]:
df['Amount'] = result
df['Penalty'] = penalty

In [11]:
df.to_csv(r'D:\UP Vahan\CDMA Results\37 Tableau Results\4.2.2.csv',index=False)