In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'D:\Vahan Sarathi\UP E Challan\Postgres\Queries.xlsx')

In [3]:
states = ['GJ','AS', 'BR', 'CG', 'CH', 'DD', 'DL', 'GA', 'HR', 'HP', 
          'JK', 'JH','KA', 'KL', 'LA', 'MH', 'MN', 'ML', 'MZ', 'OR', 'PY',
          'PB', 'RJ', 'SK', 'TN', 'TR', 'UP', 'UK', 'WB']

In [4]:
dd = df[3:]
dd

,SLNO,NAME,QUERY_1,QUERY_2,REMARKS
3,SP1,Pending Tax/Permit on released vehicles,copy( \nselect c...,DROP TABLE IF EXISTS echallan_released_vehicle...,COPY echallan_released_vehicles\nFROM '/disk/F...
4,3A,Echallan_released_vehicles_without_tax,"copy(select edf.*,t.state_cd, t.off_cd, t.regn...",NaN,NaN
5,3B,Echallan_released_vehicles_without_permit,"copy(select edf.*,o.state_cd, o.off_cd, o.regn...",NaN,NaN
6,D1,Settled Challans,--No of challans settled\ncopy(select rto.id a...,NaN,NaN
7,D2,Pending Challans,--No of challans pending\ncopy(select rto.id a...,NaN,NaN
8,4,Overloading cases with large amount deducted b...,"copy(\nselect c.*,cc.date_time, cc.officer_id,...",NaN,NaN
9,SP2,pending challans tax permit check,--RUN ON ECHALLAN DATABASE (cag_echallan)\nCOP...,--RUN ON VAHAN DATABASE\nDROP TABLE IF EXISTS ...,COPY echallan_pending_vehicles\nFROM '/disk/FT...
10,5A,Echallan_tax_paid_without_due_challans,"copy(\nselect epv.*, vt.rcpt_dt, vt.tax_mode, ...",NaN,NaN
11,5B,Echallan_permit_renewed_without_due_challans,"copy(\nselect epv.*, vto.vh_class, vtp.valid_f...",NaN,NaN
12,5C,Echallan_fitness_renewed_without_due_challans,"copy(\nselect epv.*, vto.vh_class, vtf.fit_val...",NaN,NaN
13,6,UP_Echallan_forwarded_to_court_after_7_days,"copy(select c.id, c.state_cd, c.date_time, c.o...",NaN,NaN
14,7,Delay in released after payment,"\ncopy(\nselect c.*,cc.date_time, cc.officer_i...",NaN,NaN
15,3C,Echallan_released_vehicles_without_fitness,"copy(select edf.*,o.state_cd, o.off_cd, o.regn...",NaN,NaN

In [86]:
for i in dd.index:
    x = ""
    for s in states:
        query1 = df['QUERY_2'][i].replace("UP",s)
        query2 = df['REMARKS'][i].replace("UP",s)
        query3 = df['QUERY_1'][15].replace("UP",s)
        x = x+"\n\n--"+str(df['SLNO'][i])+" QUERY_1 :"+s+"\n"+query1+"\n--" +str(df['SLNO'][i])+" QUERY_2 :"+s+"\n"+query2+"\n"+"-- QUERY_3 :"+s+"\n"+query3+"\n"
        #print(x)
    textfile = open('D:/Vahan Sarathi/UP E Challan/Postgres/'+str(df['SLNO'][15])+'.sql', 'w')
    textfile.write(x)
    textfile.close()